<h3 class="page-heading">Extra Fields Needed For This Plugin</h3>

<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-9">Example Field</span>
			<input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.exampleField' placeholder="help the user by giving them a hint."></input>
      <info-popover mode="right-absolute">
          <p>Write some helpful text here, describing what possible values the field could have and where to find more information if needed.</p>
      </info-popover>
    </div>
  </div>
</div>
