<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-9">Example Drop Down</label>
        <div class="gf-form-select-wrapper gf-form-select-wrapper--caret-indent">
          <select class="gf-form-input" ng-model="ctrl.target.idontexist" ng-options="f as f for f in ['Option1', 'Option2']"></select>
        </div>
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>
  </div>
</query-editor-row>
